@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
:root {
  font-family: "ABCSans Regular", "Arial", sans-serif;
  font-size: 1em;
}
body {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#chart {
  position: fixed;
  width: 100%;
  height: 100%;
}
.bar .result {
  fill: #009CBF;
}
.bar .background {
  fill: rgba(28, 28, 28, .1);
}
.label {
  fill: white;
}
.value {
  fill: #FFB300;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  text-anchor: end;
}
.tick text {
  font-size: .7rem;
  fill: #1C1C1C;
}
.tick line {
  stroke: #1C1C1C;
  stroke-dasharray: 2 2;
  opacity: .5;
}
path.domain {
  stroke: none;
}
#header, #footer {
  color: #1C1C1C;
  position: absolute;
  font-size: 1.25rem;
}
#header {
  font-size: 1.25rem;
  font-weight: bold;
}
#footer {
  bottom: 0;
  font-size: .85rem;
}
a {
  color: #009CBF;
  text-decoration: none;
}
a:hover {
  color: #FFB300;
}
@media (max-width: 500px) {
  #header {
    font-size: 1rem;
  }
}
